In [1]:
import pandas as pd
import xarray as xr

In [50]:
filename = 'data/EE_SSI_Florencia.txt'
EE_SSI = pd.read_csv(filename, sep='\t')

EE_SSI['date'] = pd.to_datetime(EE_SSI[['year', 'month', 'day']])

EE_SSI

,year,month,day,ff (> 2sd),pp (> 3sd),T_BCAA,T_FREI,T_KOREA,date
0,1998,11,16,18.75,10.0,-0.550,-0.830,0.000,1998-11-16
1,1998,11,17,21.50,NaN,-0.430,-1.100,-0.480,1998-11-17
2,1998,11,18,23.25,NaN,-0.850,-1.100,-0.500,1998-11-18
3,1999,2,11,19.75,10.0,1.430,0.900,2.380,1999-02-11
4,1999,2,12,26.50,NaN,2.770,1.950,2.980,1999-02-12
5,1999,2,13,21.50,NaN,2.080,1.100,2.100,1999-02-13
6,1999,2,19,21.50,NaN,1.000,0.550,0.900,1999-02-19
7,1999,2,20,23.25,NaN,0.450,-0.230,0.200,1999-02-20
8,1999,2,21,22.33,11.7,0.530,0.230,1.130,1999-02-21
9,1999,11,12,15.75,3.2,0.575,-0.150,1.275,1999-11-12
10,1999,11,13,22.00,3.0,1.375,0.875,2.550,1999-11-13
11,1999,11,14,12.75,19.2,0.825,0.525,1.825,1999-11-14
12,1999,11,15,21.00,NaN,-0.450,-0.580,-0.130,1999-11-15
13,1999,11,16,27.75,19.2,0.300,0.200,0.700,1999-11-16
14,1999,11,17,31.25,NaN,1.280,0.980,1.350,1999-11-17
15,1999,11,18,25.75,NaN,1.300,1.000,1.250,1999-11-18
16,1999,11,19,23.00,NaN,1.280,1.000,1.930,1999-11-19
17,1999,11,20,25.00,NaN,0.700,0.300,0.650,1999-11-20
18,2004,11,30,24.75,15.4,1.080,0.580,1.580,2004-11-30
19,2004,12,1,24.50,NaN,3.200,1.980,2.880,2004-12-01
20,2005,2,9,16.75,0.2,3.400,2.850,3.300,2005-02-09
21,2005,2,10,16.50,5.0,3.370,2.900,4.000,2005-02-10
22,2005,2,11,25.00,8.4,3.250,3.250,3.050,2005-02-11
23,2005,2,12,30.75,13.6,3.070,3.200,2.500,2005-02-12
24,2005,2,13,20.50,NaN,2.470,2.200,2.630,2005-02-13
25,2005,2,14,29.75,NaN,2.130,2.280,2.000,2005-02-14
26,2005,2,15,21.50,NaN,2.750,2.200,2.850,2005-02-15
27,2005,2,16,28.25,NaN,2.100,2.080,2.080,2005-02-16
28,2005,2,17,24.25,NaN,2.750,2.930,2.630,2005-02-17
29,2005,2,18,31.25,NaN,2.400,2.250,1.880,2005-02-18
30,2005,2,19,32.75,NaN,1.200,1.480,1.630,2005-02-19
31,2005,2,20,23.00,NaN,1.950,1.830,1.930,2005-02-20
32,2006,11,11,19.75,11.4,-0.200,-0.680,1.050,2006-11-11
33,2006,11,12,21.75,NaN,0.950,0.450,1.730,2006-11-12
34,2006,11,13,20.00,NaN,-1.150,-1.480,-1.050,2006-11-13
35,2006,11,14,19.00,NaN,-0.270,-0.880,-0.350,2006-11-14
36,2006,11,15,28.25,NaN,-1.000,-1.580,-0.680,2006-11-15
37,2006,11,16,26.00,NaN,-3.400,-3.200,-3.100,2006-11-16

In [51]:
filename = 'data/Z500_index_daily.csv'
Z500_index = pd.read_csv(filename, sep='\t')
Z500_index['date'] = pd.to_datetime(Z500_index['time'])
Z500_index

            time   z_anomaly       date
0     1979-01-01   53.724840 1979-01-01
1     1979-01-02  118.965390 1979-01-02
2     1979-01-03  166.221620 1979-01-03
3     1979-01-04  195.663830 1979-01-04
4     1979-01-05  204.236910 1979-01-05
...          ...         ...        ...
6801  2023-12-27 -149.757230 2023-12-27
6802  2023-12-28 -105.997750 2023-12-28
6803  2023-12-29   38.003494 2023-12-29
6804  2023-12-30   10.238738 2023-12-30
6805  2023-12-31  -49.555367 2023-12-31

[6806 rows x 3 columns]

In [52]:
filename = 'data/norm.daily.aao.cdas.z700.19790101_current.csv'
SAM_index = pd.read_csv(filename, sep=',')
SAM_index['date'] = pd.to_datetime(SAM_index[['year', 'month', 'day']])
SAM_index

       year  month  day  aao_index_cdas       date
0      1979      1    1       -1.556303 1979-01-01
1      1979      1    2       -0.888227 1979-01-02
2      1979      1    3        0.255268 1979-01-03
3      1979      1    4        0.861966 1979-01-04
4      1979      1    5        0.890381 1979-01-05
...     ...    ...  ...             ...        ...
16959  2025      6    7       -0.833822 2025-06-07
16960  2025      6    8       -0.384542 2025-06-08
16961  2025      6    9       -0.263311 2025-06-09
16962  2025      6   10       -0.632721 2025-06-10
16963  2025      6   11       -0.266358 2025-06-11

[16964 rows x 5 columns]

In [46]:
filename = 'data/SSI_ERA5_optm_19690101-20200331.nc'
ds = xr.open_dataset(filename).isel(lat=2, lon=2)[['RAIN', 'SNOWFALL', 'surfM', 'Q']].resample(time='1d').sum()*1000
#ds.sel(lon=-58.886878, lat=-62.154407, method='nearest')#[['RAIN', 'SNOWFALL', 'surfM', 'Q']]
ds

<xarray.Dataset> Size: 749kB
Dimensions:   (time: 18718)
Coordinates:
    lat       float64 8B -62.15
    lon       float64 8B -58.89
  * time      (time) datetime64[ns] 150kB 1969-01-01 1969-01-02 ... 2020-03-31
Data variables:
    RAIN      (time) float64 150kB 0.0 0.0 0.0 0.0 0.0 ... 0.0 0.0 0.0 0.0 0.0
    SNOWFALL  (time) float64 150kB 0.116 0.2829 0.07445 ... 0.01328 0.1407 4.247
    surfM     (time) float64 150kB 0.001948 0.002834 0.002992 ... 0.7592 0.4327
    Q         (time) float64 150kB 0.0 0.0 0.0 0.0 ... 0.0 0.2337 0.8188 0.5089
Attributes: (12/63)
    Start_from_restart_file:                    False
    Stake_evaluation:                           False
    WRF_simulation:                             False
    Compression_level:                          2
    Slurm_use:                                  False
    Full_fiels:                                 False
    ...                                         ...
    water_density:                              1000.0
    ice_density:                                890.0
    air_density:                                1.1
    sigma:                                      5.67e-08
    zero_temperature:                           273.16
    Surface_emission_coeff:                     0.99

In [47]:
df_bell = ds.to_dataframe().reset_index(drop=False).rename(columns={'time':'date'})[['date', 'surfM', 'Q']]

In [54]:
EE_SSI = pd.merge(EE_SSI, df_bell, on='date', how='left')

In [55]:
EE_Z500 = pd.merge(EE_SSI, Z500_index, on='date', how='left')
EE_Z500

,year,month,day,ff (> 2sd),pp (> 3sd),T_BCAA,T_FREI,T_KOREA,date,surfM,Q,time,z_anomaly
0,1998,11,16,18.75,10.0,-0.550,-0.830,0.000,1998-11-16,0.015437,0.000000,1998-11-16,-22.795708
1,1998,11,17,21.50,NaN,-0.430,-1.100,-0.480,1998-11-17,0.010375,0.000000,1998-11-17,-47.572970
2,1998,11,18,23.25,NaN,-0.850,-1.100,-0.500,1998-11-18,0.001089,0.000000,1998-11-18,-118.885730
3,1999,2,11,19.75,10.0,1.430,0.900,2.380,1999-02-11,6.974320,7.357027,1999-02-11,-3.330839
4,1999,2,12,26.50,NaN,2.770,1.950,2.980,1999-02-12,13.282136,13.875219,1999-02-12,-101.890670
5,1999,2,13,21.50,NaN,2.080,1.100,2.100,1999-02-13,0.012550,0.015751,1999-02-13,-82.966270
6,1999,2,19,21.50,NaN,1.000,0.550,0.900,1999-02-19,0.000625,0.000625,1999-02-19,-120.413770
7,1999,2,20,23.25,NaN,0.450,-0.230,0.200,1999-02-20,0.000016,0.000016,1999-02-20,-58.496200
8,1999,2,21,22.33,11.7,0.530,0.230,1.130,1999-02-21,6.641695,7.002355,1999-02-21,3.758519
9,1999,11,12,15.75,3.2,0.575,-0.150,1.275,1999-11-12,0.000000,0.000000,1999-11-12,-35.724777
10,1999,11,13,22.00,3.0,1.375,0.875,2.550,1999-11-13,8.755767,8.749489,1999-11-13,35.051785
11,1999,11,14,12.75,19.2,0.825,0.525,1.825,1999-11-14,0.000244,0.021887,1999-11-14,33.548756
12,1999,11,15,21.00,NaN,-0.450,-0.580,-0.130,1999-11-15,0.004511,0.000000,1999-11-15,-34.826504
13,1999,11,16,27.75,19.2,0.300,0.200,0.700,1999-11-16,0.739483,0.327100,1999-11-16,45.128820
14,1999,11,17,31.25,NaN,1.280,0.980,1.350,1999-11-17,0.002779,0.330579,1999-11-17,1.389014
15,1999,11,18,25.75,NaN,1.300,1.000,1.250,1999-11-18,1.477583,1.519039,1999-11-18,40.920452
16,1999,11,19,23.00,NaN,1.280,1.000,1.930,1999-11-19,2.463649,2.535766,1999-11-19,42.084194
17,1999,11,20,25.00,NaN,0.700,0.300,0.650,1999-11-20,0.000000,0.096240,1999-11-20,11.700654
18,2004,11,30,24.75,15.4,1.080,0.580,1.580,2004-11-30,0.197620,0.000000,2004-11-30,85.910130
19,2004,12,1,24.50,NaN,3.200,1.980,2.880,2004-12-01,2.419717,2.573718,2004-12-01,44.204075
20,2005,2,9,16.75,0.2,3.400,2.850,3.300,2005-02-09,6.352957,6.906448,2005-02-09,171.540530
21,2005,2,10,16.50,5.0,3.370,2.900,4.000,2005-02-10,30.727501,32.026306,2005-02-10,201.355420
22,2005,2,11,25.00,8.4,3.250,3.250,3.050,2005-02-11,20.669001,21.485440,2005-02-11,164.803420
23,2005,2,12,30.75,13.6,3.070,3.200,2.500,2005-02-12,29.992183,30.675999,2005-02-12,147.789410
24,2005,2,13,20.50,NaN,2.470,2.200,2.630,2005-02-13,17.474717,18.117856,2005-02-13,69.496250
25,2005,2,14,29.75,NaN,2.130,2.280,2.000,2005-02-14,19.574835,20.357452,2005-02-14,137.494200
26,2005,2,15,21.50,NaN,2.750,2.200,2.850,2005-02-15,25.662427,26.573873,2005-02-15,105.218370
27,2005,2,16,28.25,NaN,2.100,2.080,2.080,2005-02-16,11.925171,12.377890,2005-02-16,44.199470
28,2005,2,17,24.25,NaN,2.750,2.930,2.630,2005-02-17,18.839690,19.951750,2005-02-17,-0.059573
29,2005,2,18,31.25,NaN,2.400,2.250,1.880,2005-02-18,3.926311,4.274710,2005-02-18,-44.410270
30,2005,2,19,32.75,NaN,1.200,1.480,1.630,2005-02-19,0.006406,0.006406,2005-02-19,2.530784
31,2005,2,20,23.00,NaN,1.950,1.830,1.930,2005-02-20,13.296616,13.768458,2005-02-20,75.724365
32,2006,11,11,19.75,11.4,-0.200,-0.680,1.050,2006-11-11,0.000301,0.000000,2006-11-11,57.731220
33,2006,11,12,21.75,NaN,0.950,0.450,1.730,2006-11-12,3.567344,3.455985,2006-11-12,24.777350
34,2006,11,13,20.00,NaN,-1.150,-1.480,-1.050,2006-11-13,0.012927,0.000000,2006-11-13,-64.707664
35,2006,11,14,19.00,NaN,-0.270,-0.880,-0.350,2006-11-14,0.000392,0.000000,2006-11-14,-90.787510
36,2006,11,15,28.25,NaN,-1.000,-1.580,-0.680,2006-11-15,0.006067,0.000000,2006-11-15,-84.362420
37,2006,11,16,26.00,NaN,-3.400,-3.200,-3.100,2006-11-16,0.000289,0.000000,2006-11-16,-72.441300

In [56]:
EE_Z500 = pd.merge(EE_SSI, Z500_index[['date', 'z_anomaly']], on='date', how='left')
EE_Z500_SAM = pd.merge(EE_Z500, SAM_index[['date', 'aao_index_cdas']], on='date', how='left')
vars = ['date', 'aao_index_cdas', 'z_anomaly',  'ff (> 2sd)', 'pp (> 3sd) ', 'T_BCAA', 'T_FREI', 'T_KOREA', 'surfM', 'Q']
EE_Z500_SAM = EE_Z500_SAM[vars]
EE_Z500_SAM

,date,aao_index_cdas,z_anomaly,ff (> 2sd),pp (> 3sd),T_BCAA,T_FREI,T_KOREA,surfM,Q
0,1998-11-16,1.507370,-22.795708,18.75,10.0,-0.550,-0.830,0.000,0.015437,0.000000
1,1998-11-17,1.537011,-47.572970,21.50,NaN,-0.430,-1.100,-0.480,0.010375,0.000000
2,1998-11-18,1.654922,-118.885730,23.25,NaN,-0.850,-1.100,-0.500,0.001089,0.000000
3,1999-02-11,0.776455,-3.330839,19.75,10.0,1.430,0.900,2.380,6.974320,7.357027
4,1999-02-12,0.618303,-101.890670,26.50,NaN,2.770,1.950,2.980,13.282136,13.875219
5,1999-02-13,0.787825,-82.966270,21.50,NaN,2.080,1.100,2.100,0.012550,0.015751
6,1999-02-19,0.017197,-120.413770,21.50,NaN,1.000,0.550,0.900,0.000625,0.000625
7,1999-02-20,-0.349920,-58.496200,23.25,NaN,0.450,-0.230,0.200,0.000016,0.000016
8,1999-02-21,-0.375969,3.758519,22.33,11.7,0.530,0.230,1.130,6.641695,7.002355
9,1999-11-12,-0.297454,-35.724777,15.75,3.2,0.575,-0.150,1.275,0.000000,0.000000
10,1999-11-13,-0.030336,35.051785,22.00,3.0,1.375,0.875,2.550,8.755767,8.749489
11,1999-11-14,0.391393,33.548756,12.75,19.2,0.825,0.525,1.825,0.000244,0.021887
12,1999-11-15,1.272404,-34.826504,21.00,NaN,-0.450,-0.580,-0.130,0.004511,0.000000
13,1999-11-16,1.547498,45.128820,27.75,19.2,0.300,0.200,0.700,0.739483,0.327100
14,1999-11-17,1.581704,1.389014,31.25,NaN,1.280,0.980,1.350,0.002779,0.330579
15,1999-11-18,1.312864,40.920452,25.75,NaN,1.300,1.000,1.250,1.477583,1.519039
16,1999-11-19,1.162379,42.084194,23.00,NaN,1.280,1.000,1.930,2.463649,2.535766
17,1999-11-20,1.352570,11.700654,25.00,NaN,0.700,0.300,0.650,0.000000,0.096240
18,2004-11-30,-2.606383,85.910130,24.75,15.4,1.080,0.580,1.580,0.197620,0.000000
19,2004-12-01,-2.067180,44.204075,24.50,NaN,3.200,1.980,2.880,2.419717,2.573718
20,2005-02-09,0.332610,171.540530,16.75,0.2,3.400,2.850,3.300,6.352957,6.906448
21,2005-02-10,0.841514,201.355420,16.50,5.0,3.370,2.900,4.000,30.727501,32.026306
22,2005-02-11,1.437966,164.803420,25.00,8.4,3.250,3.250,3.050,20.669001,21.485440
23,2005-02-12,1.706822,147.789410,30.75,13.6,3.070,3.200,2.500,29.992183,30.675999
24,2005-02-13,2.156035,69.496250,20.50,NaN,2.470,2.200,2.630,17.474717,18.117856
25,2005-02-14,2.860945,137.494200,29.75,NaN,2.130,2.280,2.000,19.574835,20.357452
26,2005-02-15,2.807044,105.218370,21.50,NaN,2.750,2.200,2.850,25.662427,26.573873
27,2005-02-16,2.180824,44.199470,28.25,NaN,2.100,2.080,2.080,11.925171,12.377890
28,2005-02-17,1.837547,-0.059573,24.25,NaN,2.750,2.930,2.630,18.839690,19.951750
29,2005-02-18,1.310369,-44.410270,31.25,NaN,2.400,2.250,1.880,3.926311,4.274710
30,2005-02-19,1.176465,2.530784,32.75,NaN,1.200,1.480,1.630,0.006406,0.006406
31,2005-02-20,1.182160,75.724365,23.00,NaN,1.950,1.830,1.930,13.296616,13.768458
32,2006-11-11,-0.909676,57.731220,19.75,11.4,-0.200,-0.680,1.050,0.000301,0.000000
33,2006-11-12,-0.586744,24.777350,21.75,NaN,0.950,0.450,1.730,3.567344,3.455985
34,2006-11-13,-0.423756,-64.707664,20.00,NaN,-1.150,-1.480,-1.050,0.012927,0.000000
35,2006-11-14,-0.411633,-90.787510,19.00,NaN,-0.270,-0.880,-0.350,0.000392,0.000000
36,2006-11-15,-0.073342,-84.362420,28.25,NaN,-1.000,-1.580,-0.680,0.006067,0.000000
37,2006-11-16,0.411897,-72.441300,26.00,NaN,-3.400,-3.200,-3.100,0.000289,0.000000

In [57]:
E_Z500_SAM_1999 = EE_Z500_SAM[(EE_Z500_SAM.date >= '1999-11-12') & (EE_Z500_SAM.date <= '1999-11-20')]
E_Z500_SAM_1999

,date,aao_index_cdas,z_anomaly,ff (> 2sd),pp (> 3sd),T_BCAA,T_FREI,T_KOREA,surfM,Q
9,1999-11-12,-0.297454,-35.724777,15.75,3.2,0.575,-0.150,1.275,0.000000,0.000000
10,1999-11-13,-0.030336,35.051785,22.00,3.0,1.375,0.875,2.550,8.755767,8.749489
11,1999-11-14,0.391393,33.548756,12.75,19.2,0.825,0.525,1.825,0.000244,0.021887
12,1999-11-15,1.272404,-34.826504,21.00,NaN,-0.450,-0.580,-0.130,0.004511,0.000000
13,1999-11-16,1.547498,45.128820,27.75,19.2,0.300,0.200,0.700,0.739483,0.327100
14,1999-11-17,1.581704,1.389014,31.25,NaN,1.280,0.980,1.350,0.002779,0.330579
15,1999-11-18,1.312864,40.920452,25.75,NaN,1.300,1.000,1.250,1.477583,1.519039
16,1999-11-19,1.162379,42.084194,23.00,NaN,1.280,1.000,1.930,2.463649,2.535766
17,1999-11-20,1.352570,11.700654,25.00,NaN,0.700,0.300,0.650,0.000000,0.096240

In [ ]:
E_Z500_SAM_1999.agg({'aao_index_cdas': 'mean', 'z_anomaly': 'mean', 'ff (> 2sd)': 'mean', 'pp (> 3sd) ': 'sum', 
                     'T_BCAA': 'mean', 'T_FREI': 'mean', 'T_KOREA': 'mean', 'surfM': 'sum', 'Q': 'sum',})

aao_index_cdas     0.921447
z_anomaly         15.474710
ff (> 2sd)        22.694444
pp (> 3sd)        44.600000
T_BCAA             0.798333
T_FREI             0.461111
T_KOREA            1.266667
surfM              1.493779
Q                  1.508900
dtype: float64

In [60]:
E_Z500_SAM_2005 = EE_Z500_SAM[(EE_Z500_SAM.date >= '2005-02-09') & (EE_Z500_SAM.date <= '2005-02-20')]
E_Z500_SAM_2005

,date,aao_index_cdas,z_anomaly,ff (> 2sd),pp (> 3sd),T_BCAA,T_FREI,T_KOREA,surfM,Q
20,2005-02-09,0.332610,171.540530,16.75,0.2,3.40,2.85,3.30,6.352957,6.906448
21,2005-02-10,0.841514,201.355420,16.50,5.0,3.37,2.90,4.00,30.727501,32.026306
22,2005-02-11,1.437966,164.803420,25.00,8.4,3.25,3.25,3.05,20.669001,21.485440
23,2005-02-12,1.706822,147.789410,30.75,13.6,3.07,3.20,2.50,29.992183,30.675999
24,2005-02-13,2.156035,69.496250,20.50,NaN,2.47,2.20,2.63,17.474717,18.117856
25,2005-02-14,2.860945,137.494200,29.75,NaN,2.13,2.28,2.00,19.574835,20.357452
26,2005-02-15,2.807044,105.218370,21.50,NaN,2.75,2.20,2.85,25.662427,26.573873
27,2005-02-16,2.180824,44.199470,28.25,NaN,2.10,2.08,2.08,11.925171,12.377890
28,2005-02-17,1.837547,-0.059573,24.25,NaN,2.75,2.93,2.63,18.839690,19.951750
29,2005-02-18,1.310369,-44.410270,31.25,NaN,2.40,2.25,1.88,3.926311,4.274710
30,2005-02-19,1.176465,2.530784,32.75,NaN,1.20,1.48,1.63,0.006406,0.006406
31,2005-02-20,1.182160,75.724365,23.00,NaN,1.95,1.83,1.93,13.296616,13.768458

In [61]:
E_Z500_SAM_2005.agg({'aao_index_cdas': 'mean', 'z_anomaly': 'mean', 'ff (> 2sd)': 'mean', 'pp (> 3sd) ': 'sum', 
                     'T_BCAA': 'mean', 'T_FREI': 'mean', 'T_KOREA': 'mean', 'surfM': 'sum', 'Q': 'sum'})

aao_index_cdas      1.652525
z_anomaly          89.640198
ff (> 2sd)         25.020833
pp (> 3sd)         27.200000
T_BCAA              2.570000
T_FREI              2.454167
T_KOREA             2.540000
surfM             198.447816
Q                 206.522589
dtype: float64